.toolbar1 {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 289px;
  top: 0px;
}
.toolbar2 {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 252px;
  top: 0px;
}
.menubar1 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 330px;
  top: 31px;
  background: #C4C4C4;
}
.menubar2 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 330px;
  top: 25px;
  background: #c4c4c4;
}
.menubar3 {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 330px;
  top: 19px;
  background: #C4C4C4;
}
.navbar{
  display: flex;
}
h1 {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1A2236;
}
h5 {
  position: absolute;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1A2236;    
}
h6 {
  position: absolute;
  width: 203.68px;
  height: 26.47px;
  left: 58px;
  top: 402px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;    
}
.collaboration_buttom2{
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1A2236;
}